@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutSimple.cshtml";
}
<div class="row" id="titulo">
    <div class="col-8">
        <h3>BONITO DEPARTAMENTO EN SEGUNDA PLANTA CHOLUL, MERIDA</h3>
        <h4>Cholul, Mérida, Yucatán</h4>
    </div>
    <div class="col-4">
        <h4>$15,000</h4>
        <p>en renta</p>
    </div>

</div>
<div class="row">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                    class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                    aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
                    aria-label="Slide 5"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/img/at_1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="assets/img/at_2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="assets/img/at_3.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="assets/img/at_4.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="assets/img/at_5.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <h4>Descripción</h4>
    </div>
    <div class="col-9">
        <p>
            ID 1 <br>
            Excelente departamento en segundo piso, ubicado en el norte de la ciudad a solo 25 min de plaza Altabrisa, hospital de alta especialidad, entre otros. Aprovecha esta oportunidad de tener un departamento recién remodelado con amplio balcón en una de las zonas más bonitas de Mérida.
        </p>
        <br>
        <ul>
            <p>Medidas:</p>
            <li>Area de construcción: 270m2</li>
            <li>Frente: 15m</li>
            <li>Fondo: 18m</li>
            <br>
            <br>
        </ul>
    </div>

</div>
<div class="row">
    <div class="col-3">
        <h4>Detalles</h4>
    </div>
    <div class="col-9">
        <ul>
            <p>Tipo: Departamento</p>
            <li>1 recámara</li>
            <li>1 baño</li>
            <li>cocina integral</li>
            <li>Sala-comedor</li>
            <br>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <h4>Características</h4>
    </div>
    <div class="col-9">
        <ul>
            <li>Estacionamiento tehcado</li>
            <li>Balcón</li>
            <li>Se aceptan mascotas</li>
            <li>Libre de humo</li>
        </ul>
    </div>
    <h4>Dirección</h4>
    <div class="mapa">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1861.8318610119095!2d-89.5612702886785!3d21.046137211996406!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f5677ea48d2d117%3A0x123fc1d40bb91b4!2sBruna%20townhouse!5e0!3m2!1sen!2smx!4v1624573055526!5m2!1sen!2smx" width="1000" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    </div>