@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutSimple.cshtml";
}
<main class="container-fluid d-flex flex-column align-items-center">
    <h1>Contáctanos | ARROW Bienes Raíces</h1>
    <div class="container">
        <div class="row justify-content-center pt-2 mt-2 mr-1">
            <div class="col-md-8 form_contac">
                <form action="">
                    <div class="form-group mb-3">
                        <h2>Contáctanos</h2>
                        <span>Llena este formulario y un miembro de nuestro equipo te contactará a la brevedad.</span>
                    </div>
                    <div class="form-group mb-3">
                        <input type="text" class="form-control" placeholder="Tu nombre completo">
                    </div>
                    <div class="form-group mb-3">
                        <input type="email" class="form-control" placeholder="Escribe tu email">
                    </div>
                    <div class="form-group mb-3">
                        <input type="text" class="form-control" placeholder="Escribe tu número teléfonico">
                    </div>
                    <div class="form-group mb-3">
                        <textarea class="form-control" id="" rows="12" placeholder="Redacta tu mensaje"></textarea>
                    </div>
                    <div class="from-group mb-3 text-center">
                        <input type="button" class="btn btn-primary boton_enviar" value="Enviar">
                    </div>
                </form>
            </div>

        </div>
    </div>
</main>
