@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutSimple.cshtml";
}
<div class="formulario">
    <div class="alert alert-danger  @(ViewBag.LoginFallido  == true ? "visible" : "invisible")"  role="alert">
      Usuario y/o contraseña no validos.
    </div>
  <div class="form-group text-center">
    <h1 class="text-light">Inicio de Sesión</h1>
    <h2 class="text-ligth">Administrador de casas</h2>
  </div>
  <form asp-action="Index" method="post" id="loginForm" onsubmit="return estaLleno()">
    <div class="form-group mx-sm-4">
      <label for="usuario" class="form-label" style="font-size: 20px;">Usuario:*</label>
      <input type="text" class="form-control" name="usuario">
    </div>
    <div class="form-group mx-sm-4">
      <label for="password" class="form-label" style="font-size: 20px;">Contraseña:*</label>
      <input type="password" class="form-control" name="password">
    </div>
    <div class="form-group mx-sm-4">
      <br>
      <a class="form-group" asp-controller="Registro" asp-action="Index">Registrate si no tienes cuenta</a>
    </div>
    <div class="form-group row g-3 mt-1">
      <input type="submit" class="enviar" value="Enviar">
    </div>
  </form>
</div>
<script src="/assets/js/validacionLogin.js"></script>
