@{
    ViewData["Title"] = "Inicio";
}


    <!-- Rocio -->
    <!-- Con la clase trxt-align-center se pone el texto en el medio -->
    <h2>Propiedades destacadas</h2>
    <div class="row">
        <div class="card">
            <a href="./detalle_casa.html">
                <img src="assets/img/at_1.jpg " class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">Departamento en Cholul, Mérida</h5>
                <p class="card-text">1 recámara 1 baño 294 m².</p>
                <p class="precio">$15,000</p>
                <span class="badge bg-success">Renta</span>
            </div>
    </div>
