<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
    <header class="header-inmueble">
        <a href="#"><input type="button" class="cerrarsesion" value="Cerrar sesión"></a>
    </header>
    <main role="main" class="pb-3">
        <div class="container">
            <h1 class="fw-bold">@ViewData["Title"]</h1>
        </div>
        @RenderBody()
    </main>
    
    <script src="/assets/js/ubicacion_casas.js"></script>
    <script src="/assets/js/previsualizacion_imagen.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDaeWicvigtP9xPv919E-RNoxfvC-Hqik&callback=iniciarMap"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>