body {
    background-image: url(../img/living-room-1835923_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
a input.cerrarsesion{
    text-decoration: none;
}

.cerrarsesion{
    width: 125px;
    height: 50px;
    margin-top: 20px;
    margin-left: 20px;
    border: white 2px solid;
    border-radius: 10px;
    font-size: 16px;
}

.gestion{
    background: rgb(129, 129, 129);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0,0 30px rgb(0, 0, alpha);
    color: white;
}
.precio input{
    width: 120px;
}
.banios input{
    width: 120px;
}
.recamaras input{
    width: 120px;
}
.terreno input{
    width: 120px;
}
.disponible select{
    width: 185px;
}
.botones_casas input{
    margin-bottom: 10px;
    margin-left: 65px;
}

#mapa{
    height: 400px;
    width: 735px;
}

img {
    width: 120px;
    height: 150px;
}

div.tabla {
    background: #ECEFF4;
    margin-top: 8px;
}
