body {
    /* background-image: url('../img/avi-werde-hHz4yrvxwlA-unsplash.jpg'); */
    /*  */
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

#hero{
    /* background-image: url("../img/avi-werde-hHz4yrvxwlA-unsplash.jpg"); */
    /* background-color es para el fondo  */
    background-color: #ECEFF4;
    /* cover escala la imagen para que quepa en el contenedor */
    background-size: cover;
}

.card {
    /* 1rem = 10px */
    /* width es para lo ancho de la tarjeta y height para lo alto> */
    width: 24rem;
    height: 26rem;
    /* El padding al 0% es para que la imágen ocupe el 100% del espacio designado en la tajeta */
    padding: 0%;
    margin: .8rem;
    color: black;
}

#card-text{
    color: #ECEFF4;
}
