@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutSimple.cshtml";
}
<main class="container-fluid d-flex flex-column align-items-center">
    <h1>Acerca de nosotros | ARROW Bienes Raíces</h1>
    <div class="container">
        <div class="row justify-content-center pt-2 mt-2 mr-1">
            <div class="row col-md-10 text-center bienvenida">
                <h2>Bienvenido a ARROW Bienes Raíces</h2>
                <br>
                <span>
                    Encuentra tu nuevo hogar aquí con nosotros, un lugar de confianza y de alta calidad
                    para atender todas tus necesidades sobre el mundo inmobiliario.
                </span>
            </div>
            <div class="row col-md-10 text-center intro">
                <span>
                    ARROW Bienes Raíces es una empresa con gran variedad en el inmobiliario. Se especializa en
                    promocionar departamentos o casas que están en venta o renta, de igual manera, creamos estrategias
                    comerciales y financieras para así lograr los objetivos propuestos.
                </span>
            </div>

            <div class="row col-md-10 text-center objetivo">
                <span>
                    Nuestro objetivo es brindar servicio personalizado y de calidad para ayudarte
                    con tu búsqueda inmobiliaria. Si necesitas ayuda o tienes dudas, se libre de contactarnos.
                </span>
            </div>
        </div>
    </div>
</main>