@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutSimple.cshtml";
}
<div class="container">
    <div class="row justify-content-center pt-3 mt-3 mr-1">
        <div class="col-md-8 registro">
            <form action="">
                <div class="form-group text-center row mb-4">
                    <h1>Crea tu Perfil de Administrador</h1>
                </div>
                <div class="form-group datos_personales">
                    <fieldset class="scheduler-border">
                        <legend class="scheduler-border">Datos personales</legend>


                        <div class="row mb-3">
                            <label for="nombre_admin" class="col-sm-2 col-form-label">Nombres</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="nombre_admin" placeholder="Escriba su nombre completo">
                            </div>
                            <label for="apellidos_admin" class="col-sm-2 col-form-label">Apellidos</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="apellidos_admin" placeholder="Escriba sus apellidos">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="correo_admin" class="col-sm-2 col-form-label">Correo:</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="correo_admin" placeholder="Escriba su correo">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="telefono" class="col-sm-2 col-form-label">Teléfono</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="telefono" placeholder="Escribe su teléfono móvil">
                            </div>
                            <label for="pais" class="col-sm-2 col-form-label">País</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="pais" placeholder="Escribe tu país">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="ciudad" class="col-sm-2 col-form-label">Ciudad</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="ciudad" placeholder="Escribe tu ciudad">
                            </div>
                            <label for="estado" class="col-sm-2 col-form-label">Estado</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="estado" placeholder="Escribe tu estado">
                            </div>
                        </div>
                        <div class="form-group text-center row mb-3">
                            <label style="margin-bottom: 15px;">Fotografía</label>
                            <div class="row mb-3 fotografia">
                                <div id="cargar_imagen" class="row mb-3">
                                    <input class="form-control" id="subir_img" type="file" accept="image/*" />
                                </div>
                                <div id="vista_previa"></div>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="form-group datos_usuario">
                    <fieldset class="scheduler-border">
                        <legend class="scheduler-border">Datos de Usuario</legend>
                        <div class="row mb-1">
                            <label for="usuario_admin" class="col-sm-2 col-form-label">Usuario:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="usuario_admin" placeholder="Escriba un usuario">
                            </div>
                            <label for="contraseña_admin" class="col-sm-2 col-form-label">Contraseña:</label>
                            <div class="col-sm-4">
                                <input type="password" class="form-control" id="contraseña_admin" placeholder="Escriba una contraseña">
                            </div>

                        </div>
                    </fieldset>
                </div>
                <div class="form-group row g-3 mt-1">
                    <a asp-controller="Login" asp-action="Index"><input type="button" class="registrar" value="Registrar"></a>
                </div>
            </form>
        </div>
    </div>
</div>
