body {
    background-image: url(/assets/img/fondo_inmueble.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main {
    background: rgba(0,0,0,0.5);
    border-radius: 10px;    
}
