body {
    background-image: url("../img/log-cabin-1886620_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main {
    background: rgba(0,0,0,0.5);
    border-radius: 10px;
}
.formulario{
    padding: 20px;
    box-shadow: 0,0 30px rgb(0, 0, alpha);
    color: white;
}

.formulario h2 {
    color:white;
}

.enviar{
    width: 340px;
    background: #222A3F;
    padding: 10px;
    font-size: 18px;
    font-weight: 700!important;
    color: white;
}

a.registrate {
    font-size: 18px;
    color: white;
}